<ion-card>
  <ion-row>
    <ion-col class="image-col" size-xs="3">
      <ion-thumbnail>
        <img [src]="country.flag" alt="{{ country.name }}" />
      </ion-thumbnail>
    </ion-col>

    <ion-col class="text-col" size-xs="9">
      <ion-label class="title-text">
        {{ country.name | uppercase }}
      </ion-label>
      <ion-text>
        <br />
        <span class="small-text">
          {{ "COUNTRY-ITEM.capital" | translate }}: </span
        >{{ country.capital }}
        <br />
        <span class="small-text">
          {{ "COUNTRY-ITEM.region" | translate }}: </span
        >{{ country.region }}
      </ion-text>
    </ion-col>
  </ion-row>
</ion-card>
