/* flag image */
ion-img {
  width: 100%;
}

.image-div {
  position: relative;
  text-align: center;
  color: white;
}

/* Flag image bottom right text */
.flag-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(8, 1, 1, 0.55); /* Dark background with 0.55 opacity */
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

ion-list {
  padding: 16px;
}

.detail-list {
  padding: 16px 0;
}

h2 {
  color: var(--ion-color-secondary);
}

ion-item {
  ion-icon {
    color: var(--ion-color-tertiary);
    font-size: 32px;
  }
}
