<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="country-list">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Countries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
