<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="globe"></ion-icon> Countries</ion-title>
  </ion-toolbar>

	<!-- User can select option of all or a continent - needs a search bar -->
	<ion-toolbar no border-bottom>
		<ion-segment [(ngModel)]="continent" color="white">
			<ion-segment-button value="All">All</ion-segment-button>
			<ion-segment-button value="Africa">Africa</ion-segment-button>
			<ion-segment-button value="Americas">Americas</ion-segment-button>
			<ion-segment-button value="Asia">Asia</ion-segment-button>
			<ion-segment-button value="Aurope">Europe</ion-segment-button>
			<ion-segment-button value="Oceania">Oceania</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div [ngSwitch]="continent">


		<ion-list *ngSwitchCase="'All'">
			<ion-card  class="country-card" *ngFor="let country of countries" (click)="showCountryDetail(country)">
				<ion-card-content>
					<ion-item detail="false" lines="none" routerLink="">
						<ion-avatar slot="start">
							<img src="{{ country.flag }}" alt="{{ country.title }} flag image">
						</ion-avatar>
						{{country.name}}
					</ion-item>

					<ion-row class="ion-no-padding ion-justify-content-center">
						<ion-col size="4" class="ion-text-left">
							<p class="para-text" >
								<span class="color-text">
									<ion-icon name="home"></ion-icon>
								</span>{{country.capital}}
							</p>
						</ion-col>

						<ion-col size="4" class="ion-text-center">
							<p class="para-text" >
								<span class="color-text">
									<ion-icon name="map"></ion-icon>
								</span>{{country.region}}
							</p>
						</ion-col>

						<ion-col size="4" class="ion-text-right">
							<p class="para-text" >
								<span class="color-text">
									<ion-icon name="people"></ion-icon>
								</span>{{country.population}}
							</p>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-list>

		<ion-list *ngSwitchCase="'Africa'">
			<div *ngFor="let country of countries">
							<ion-card  class="country-card" *ngIf="country.region" (click)="showCountryDetail(country)">
				<ion-card-content>
					<ion-item detail="false" lines="none" routerLink="">
						<ion-avatar slot="start">
							<img src="{{ country.flag }}" alt="{{ country.title }} flag image">
						</ion-avatar>
						{{country.name}}
					</ion-item>

					<ion-row class="ion-no-padding ion-justify-content-center">
						<ion-col size="4" class="ion-text-left">
							<p class="para-text" >
								<span class="color-text">
									<ion-icon name="home"></ion-icon>
								</span>{{country.capital}}
							</p>
						</ion-col>

						<ion-col size="4" class="ion-text-center">
							<p class="para-text" >
								<span class="color-text">
									<ion-icon name="map"></ion-icon>
								</span>{{country.region}}
							</p>
						</ion-col>

						<ion-col size="4" class="ion-text-right">
							<p class="para-text" >
								<span class="color-text">
									<ion-icon name="people"></ion-icon>
								</span>{{country.population}}
							</p>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
			</div>

		</ion-list>

		
	</div>

	
<ion-content>
