/* .scroll {
  background: #ededed;
} */

ion-icon {
	font-size: 1.5rem;
}

/* .country-card {
  height: 100%;
  display: flex;
} 

.country-card ion-card-header {
  padding: 0;
}

.country-card ion-card-header .item {
  padding: 4px 16px;
*/
.country-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.icon {
	vertical-align: middle;
	color: var(--ion-color-tertiary);
}