.toolbar-header {
  color: var(--ion-color-tertiary);
}

ion-searchbar {
  padding: 0 !important;
}

ion-fab-button {
  --background: transparent;
  // --ion-color-base: transparent !important;
}

.country-card ion-card-content {
  flex: 1 1 auto;
  padding: 0;
}

.toolbar-icon {
  vertical-align: middle;
  color: var(--ion-color-tertiary);
}

.list-back-arrow {
  color: var(--ion-color-primary-contrast);
}
