<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button />
      <ion-button (click)="onGoBack()">
        <ion-icon name="arrow-back-circle-outline" class="list-back-arrow">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">
      <ion-label class="toolbar-header">{{ countryName | uppercase }}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>
</ion-content>