	<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-button routerLink="" routerDirection="back">
        <ion-icon name="arrow-back-circle-outline" class="list-back-arrow">
        </ion-icon>
      </ion-button>
		</ion-buttons>
		
    <!-- <ion-title class="ion-text-center">
			<ion-icon
				class="icon"
				name="locate"
				size="large">
			</ion-icon>
		</ion-title> -->
		
		<ion-title class="ion-text-center">
			<h4 class="toolbar-header">{{ countryName | uppercase }}</h4>
		</ion-title>
    
		<ion-buttons slot="end">
			<ion-button>
    		<ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
		</ion-buttons>
		
  </ion-toolbar>
</ion-header>

<ion-content>
	<div #mapContainer id="map"></div>
</ion-content>
