<ion-app>
  <ion-split-pane contentId="menu-content">
    <!--Side menu-->
    <ion-menu contentId="menu-content">
      <ion-header class="menu-header">
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle
              auto-hide="false"
              >
              <ion-item
                [routerLink]="p.url"
                routerLinkActive="active"
                routerDirection="root"
                (click)="onSidenavClose()"
                >
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-icon name="contrast" slot="start"></ion-icon>
            <ion-label>Darkmode</ion-label>
            <ion-toggle
              [(ngModel)]="darkMode"
              slot="end"
              [checked]="darkMode"
              aria-label="Toggle dark mode"
              (ionChange)="themeService.changeThemeMode($event)"
              >
            </ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
