<ion-app>
  <ion-split-pane contentId="menu-content">
    <!--Side menu-->
    <ion-menu contentId="menu-content">
      <ion-header class="menu-header">
        <ion-toolbar color="primary">
          <ion-title>{{ "MENU.title" | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              [routerLink]="p.url"
              routerLinkActive="active"
              routerDirection="root"
              (click)="onSidenavClose()"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label *ngIf="language === 'en'">
                {{ p.title }}
              </ion-label>
              <ion-label *ngIf="language === 'fr'">
                {{ p.titlefr }}
              </ion-label>
              <ion-label *ngIf="language === 'sp'">
                {{ p.titlesp }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-icon name="contrast" slot="start"></ion-icon>
            <ion-label>{{ "MENU.Label-darkMode" | translate }}</ion-label>
            <ion-toggle
              [(ngModel)]="darkMode"
              slot="end"
              [checked]="darkMode"
              (ionChange)="themeService.changeThemeMode($event)"
            >
            </ion-toggle>
          </ion-item>

          <ion-item>
            <ion-icon name="language-outline" slot="start"></ion-icon>
            <ion-label>{{ "MENU.Label-language" | translate }}</ion-label>
            <ion-select
              #Language
              [(ngModel)]="language"
              (ionChange)="languageChange()"
            >
              <ion-select-option option value="en" selected>{{
                "MENU.LangOption-English" | translate
              }}</ion-select-option>
              <ion-select-option option value="sp">{{
                "MENU.LangOption-Spanish" | translate
              }}</ion-select-option>
              <ion-select-option option value="fr">{{
                "MENU.LangOption-French" | translate
              }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-card color="light">
          <img
            class="mat-card-image"
            src="assets/imgs/sidemenu-image.jpg"
            alt="side menu image of a globe"
          />
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">
              <ion-icon
                slot="start"
                size="medium"
                name="camera"
                color="secondary"
              ></ion-icon>
              Jonathan Pease: Unsplash
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
