.menu-header {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--ion-color-secondary);
}

.active {
  color: var(--ion-color-secondary);
  ion-icon, ion-label {
    color: var(--ion-color-secondary);
  }

}

ion-toggle {
	color: var(--ion-color-secondary) !important;
}

ion-card {
  margin: auto 0 !important;
}

.mat-card-image {
  width: 100% !important;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: var(--ion-color-tertiary);
}

ion-header .toolbar {
  margin: auto;
}
